<div class="p-3 mb-2 bg-body border rounded mx-auto w-50">
    <hr class="text-primary">
        {{ form_start(form) }}

        <div class="row">
            <div class="col">
                {{ form_row(form.libelle, {
                  label: 'Libelle'
                  }) }}
            </div>
            <div class="col">
                {{ form_row(form.animateurs, {
                  label: 'Animateur',
                  placeholder: "Choisir un Animateur",
                  })
                }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form_row(form.date, {
                  label: 'Date'
                }) }}
            </div>


            <div class="col">
                {{ form_row(form.heureDebut, {
                label: 'Heure début'
                 }) }}
            </div>

            <div class="col">
                {{ form_row(form.heureFin, {
                 label: 'Heure fin'
                 }) }}
            </div>
        </div>
        {{ form_row(form.statut) }}
        {{ form_row(form.image) }}


        <hr class="text-primary">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a href="{{ path('app_listeAtelier_index') }}" class="btn btn-secondary">Retour</a>
                <button class="btn btn-primary">{{ button_label|default('Ajouter') }}</button>
            </div>

            {{ form_end(form) }}
        </div>
