{% extends 'base.html.twig' %}

{% block title %}Cyber Base - Accueil
{% endblock %}

{% block body %}

    <h3 class="text-center fw-bold text-dark" style="text-decoration: underline;">CATALOGUES ATELIERS</h3>
    {# <h4 class="text-primary">Bienvenue, {{ app.user.prenom }} {{ app.user.nom }}</h4> #}

    <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
        {% if is_granted ("ROLE_ANIMATEUR") %}
            <a class="btn btn-primary" a href="{{ path('app_listeAtelier_index') }}">Gestion Atelier</a>
        {% endif %}
    </div>
    <div class="row d-flex m-3 justify-content-center">
        <div class="col-sm-6">

            <input id="rechercheAtelier" list="dataListAtelier" onkeyup="rechercheTitreAtelier()" type="search" placeholder="Rechercher" class="form-control">
                <datalist id="dataListAtelier"></datalist>
            </div>
        </div>
        <div id="divAteliers" class="row row-cols-1 row-cols-md-4 g-4 justify-content-center"></div>


        <div class="row row-cols-1 row-cols-md-4 g-4 mt-4 mx-0">


            {% for atelier in ateliers %}

                <div class="col">

                    <div class="card h-100 text-center border border-primary">
                        <img src="{{ asset('uploads/images/' ~ atelier.image) }}" class="card-img-top w-100 h-100 mx-auto p-2" style="" alt="{{ atelier.image }}">
                            <div class="card-body border border-primary">
                                <h5 class="card-title text-center text-white bg-primary w-100">Atelier :<b>
                                        {{ atelier.libelle }}</b>
                                </h5>
                                <hr>
                                    <p class="card-text text-center">Animateur :
                                        <b>{{ atelier.animateurs }}</b>
                                    </p>
                                    <p class="card-text text-center">Date :
                                        <b>{{ atelier.date ? atelier.date|date('d-m-Y') : '' }}</b>
                                    </p>
                                    <p class="card-text text-center">Heure Début :
                                        <b>{{ atelier.heureDebut ? atelier.heureDebut|date('H:i') : '' }}</b>
                                    </p>
                                    <p class="card-text text-center">Heure Fin :
                                        <b>{{ atelier.heureFin ? atelier.heureFin|date('H:i') : '' }}</b>
                                    </p>
                                    <p class="card-text text-center">Status :
                                        {% if  atelier.statut == 'En attente' %}
                                            <b class="text-warning">{{ atelier.statut }}</b>
                                        </p>
                                        {% if is_granted ("ROLE_ANIMATEUR") %}
                                            <button type="button" class="btn btn-lg btn-outline-secondary w-100 btn-sm" disabled>S'inscrire</button>
                                        {% endif %}
                                    {% elseif atelier.statut == 'Confirmé' %}
                                        <b class="text-success">{{ atelier.statut }}</b>
                                    </p>
                                    {% if is_granted ("ROLE_ANIMATEUR") %}
                                        <a href="{{ path('app_planning_new') }}" class="btn btn-primary w-100 btn-sm ">S'inscrire</a>
                                    {% endif %}
                                {% elseif atelier.statut == 'Annulé' %}
                                    <b class="text-danger">{{ atelier.statut }}</b>
                                </p>
                                {% if is_granted ("ROLE_ANIMATEUR") %}
                                    <button type="button" class="btn btn-lg btn-outline-secondary w-100 btn-sm" disabled>S'inscrire</button>
                                {% endif %}
                            {% endif %}
                            <hr class="text-primary"></div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endblock %}
