{% extends 'base.html.twig' %}

{% block title %}Atelier index{% endblock %}

{% block body %}

    <h3 class="text-center">Liste des ateliers</h3>

<div class="row row-cols-1 row-cols-md-3 g-4">

       {% for atelier in ateliers %}

            <div class="col">
                <div class="card">
                <img src="{{ asset('images/', {'id': atelier.id}) }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Atelier : {{ atelier.libelle }}</h5>
                    <h5 class="card-title">Date : {{ atelier.date ? atelier.date|date('d-m-Y') : '' }}</h5>
                    <h5 class="card-title">Heure Debut : {{ atelier.heureDebut ? atelier.heureDebut|date('H:i:s') : '' }}</h5>
                    <h5 class="card-title">Heure Fin : {{ atelier.heureFin ? atelier.heureFin|date('H:i:s') : '' }}</h5>
                    <h5 class="card-title">Status : {{ atelier.statut }}</h5>
                  </div>
                </div>
            </div>
                {% endfor %}
</div>

{% endblock %}
