{% extends 'base.html.twig' %}

{% block title %}Atelier index{% endblock %}

{% block body %}
    <h1>Atelier index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Date</th>
                <th>HeureDebut</th>
                <th>HeureFin</th>
                <th>Statut</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for atelier in ateliers %}
            <tr>
                <td>{{ atelier.id }}</td>
                <td>{{ atelier.libelle }}</td>
                <td>{{ atelier.date ? atelier.date|date('Y-m-d') : '' }}</td>
                <td>{{ atelier.heureDebut ? atelier.heureDebut|date('H:i:s') : '' }}</td>
                <td>{{ atelier.heureFin ? atelier.heureFin|date('H:i:s') : '' }}</td>
                <td>{{ atelier.statut }}</td>
                <td>
                    <a href="{{ path('app_atelier_show', {'id': atelier.id}) }}">show</a>
                    <a href="{{ path('app_atelier_edit', {'id': atelier.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_atelier_new') }}">Create new</a>
{% endblock %}
