{% extends 'base.html.twig' %}

{% block title %}Cyber Base - Liste Ateliers
{% endblock %}

{% block body %}
	<h3 class="text-center fw-bold text-dark" style="text-decoration: underline;">LISTES DES ATELIERS</h3>

	<div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
		<a class="btn btn-primary" href="{{ path('app_atelier_new') }}">+ Atelier</a>
	</div>
	{% for message in app.flashes('success') %}
	<div class="alert alert-success mt-4">
	{{ message }}
	</div>
	{% endfor %}
	<table class="table table-hover text-start text-center mb-3">
		<thead>
			<tr>
				<th>Id</th>
				<th>Atelier</th>
				<th>Animateur</th>
				<th>Date</th>
				<th>Heure Debut</th>
				<th>Heure Fin</th>
				<th>Image</th>
				<th>Statut</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for atelier in ateliers %}
				<tr>
					<td>{{ atelier.id }}</td>
					<td>{{ atelier.libelle }}</td>
					<td>{{ atelier.animateurs }}</td>
					<td>{{ atelier.date ? atelier.date|date('d-m-Y') : ''  }}</td>
					<td>{{ atelier.heureDebut }}</td>
					<td>{{ atelier.heureFin }}</td>
					<td><img src="{{ asset('uploads/images/' ~ atelier.image) }}" class="card-img-top" alt="{{ atelier.image }}" width="50px" ; height="70px" alt=""></td>
					<td>{{  atelier.statut }}</td>
					<td>
						<a class="btn btn-outline-secondary" href="{{ path('app_atelier_show', {'id': atelier.id}) }}">
							<i class="fa-regular fa-eye"></i>
						</a>

						<a class="btn btn-outline-secondary" href="{{ path('app_atelier_edit', {'id': atelier.id}) }}">
							<i class="fa-regular fa-pen-to-square"></i>
						</a>

						<a class="btn btn-outline-secondary" href="{{ path('app_atelier_delete', {'id': atelier.id}) }}">
							<i class="fa-regular fa-trash-can"></i>
						</a>
					</td>
				</tr>
			{% else %}

				<div class="alert alert-danger" role="alert">
					no records found!
				</div>
			{% endfor %}
		</tbody>
	</table>


{% endblock %}
