{% extends 'base.html.twig' %}

{% block title %}Atelier
{% endblock %}

{% block body %}
	<h1 class="text-center  p-2 w-50 mx-auto">Atelier</h1>

	<table class="table shadow bg-opacity-10 mx-auto w-75">
		<tbody>
			<tr class="table-secondary">
				<th>Id</th>
				<td>{{ atelier.id }}</td>
			</tr>
			<tr class="table-light">
				<th>Libelle</th>
				<td>{{ atelier.libelle }}</td>
			</tr>
			<tr class="table-secondary">
				<th>Date</th>
				<td>{{ atelier.date ? atelier.date|date('Y-m-d') : '' }}</td>
			</tr>
			<tr class="table-light">
				<th>HeureDebut</th>
				<td>{{ atelier.heureDebut}}</td>
			</tr>
			<tr class="table-secondary">
				<th>HeureFin</th>
				<td>{{ atelier.heureFin}}</td>
			</tr>
			<tr class="table-light">
				<th>Statut</th>
				<td>{{ atelier.statut }}</td>
			</tr>
			<tr class="table-secondary">
				<th>Image</th>
				<td><img src="{{ asset('uploads/images/' ~ atelier.image) }}" class="card-img-top" alt="{{ atelier.image }}" style="width:7rem ; height:5rem" alt=""></td>
			</tr>
		</tbody>
	</table>
	<div class="d-grid gap-2 d-md-flex justify-content-md-center">
		<a href="{{ path('app_listeAtelier_index') }}"  class="btn btn-secondary">Retour </a>

		<a href="{{ path('app_atelier_edit', {'id': atelier.id}) }}"  class="btn btn-success">Modifier</a>

		{{ include('atelier/_delete_form.html.twig') }}
	</div>
{% endblock %}
