{% extends 'base.html.twig' %}

{% block title %}Se Connecter
{% endblock %}

{% block body %}


	<div class="app-auth-wrapper">
		<div class=" col-md-10 col-lg-6 col-sm-12  mx-auto text-center p-3 border shadow">
			<div class="login">
				<div class="app-auth-body">
					<div class="app-auth-branding">
						<a class="app-logo"><img class="logo-icon" src="{{asset('img/logo-CyberBase.svg')}}" alt="logo" height="150px" width="150px"></a>
					</div>
					<hr>
					<h2 class="auth-heading text-bold text-lg p-3">SE CONNECTER</h2>

					<form class="auth-form login-form" method="POST">
						{% if error %}
							<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
						{% endif %}

						{% if app.user %}
							<div class="mb-3">
								You are logged in as
								{{ app.user.username }},
								<a href="{{ path('app_logout') }}">Logout</a>
							</div>
						{% endif %}
						<div class="email mb-3 col-6 mx-auto">
							<label class="sr-only" for="email">Email</label>
							<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Adresse E-mail" autocomplete="email" required autofocus aria-describedby="emailHelp">
						</div>
						<div class="password mb-3 col-6 mx-auto">
							<label class="sr-only" for="mdp">Mot de passe</label>
							<input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" autocomplete="current-password" required>
							<div class="mb-4 ml-auto">
								<a href="{{ path('app_forgot_password_request') }}">
									Mot passe oublié ?</a>
							</div>
							<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
						</div>
						<div class="extra mt-3 row justify-content-between">
							<div class="col-6"></div>
						</div>
						<div class="text-center">
							<button type="submit" class="btn btn-primary w-25 theme-btn mx-auto text-bold ">Connexion</button>
						</div>

					</form>
				</div>
			</div>
		</div>

	</div>


{% endblock %}
