{% extends 'base.html.twig' %}

{% block title %}Usager index{% endblock %}

{% block body %}
    <h1>Usager index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Tel</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Password</th>
                <th>Categorie</th>
                <th>Niveau</th>
                <th>Loisir</th>
                <th>Adresse</th>
                <th>Ville</th>
                <th>Cp</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for usager in usagers %}
            <tr>
                <td>{{ usager.id }}</td>
                <td>{{ usager.nom }}</td>
                <td>{{ usager.prenom }}</td>
                <td>{{ usager.tel }}</td>
                <td>{{ usager.email }}</td>
                <td>{{ usager.roles ? usager.roles|json_encode : '' }}</td>
                <td>{{ usager.password }}</td>
                <td>{{ usager.categorie }}</td>
                <td>{{ usager.niveau }}</td>
                <td>{{ usager.loisir }}</td>
                <td>{{ usager.adresse }}</td>
                <td>{{ usager.ville }}</td>
                <td>{{ usager.cp }}</td>
                <td>
                    <a href="{{ path('app_usager_show', {'id': usager.id}) }}">show</a>
                    <a href="{{ path('app_usager_edit', {'id': usager.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_usager_new') }}">Create new</a>
{% endblock %}
