{% extends 'base.html.twig' %}

{% block title %}New Usager
{% endblock %}

{% block body %}

	<div class="shadow p-3 mb-2 bg-body border-bottom rounded mx-auto w-50 mt-5">
		<h3 class="text-center shadow p-3 bg-secondary bg-opacity-10">Ajouter Usager</h3>
		<hr class="text-primary">
		{{ form_start(form) }}

		<div class="row">

			<div class="col-6">
				{{ form_row(form.genre, {
                  label: 'Sexe',
                  placeholder: "Select a value",
                  }) }}
			</div>
		</div>

		<div class="row">
			<div class="col">
				{{ form_row(form.nom, {
                  label: 'Nom'
                  }) }}
			</div>

			<div class="col">
				{{ form_row(form.prenom, {
                  label: 'Prénom'
                }) }}
			</div>
		</div>
		<div class="row">
			<div class="col">

				{{ form_row(form.adresse) }}
			</div>
		</div>

		<div class="row">
			<div class="col">

				{{ form_row(form.cp, {
                 label: 'Code postale'
                 }) }}
			</div>
			<div class="col">

				{{ form_row(form.ville) }}
			</div>
			<div class="row">
				<div class="col">
					{{ form_row(form.email, {
                label: 'E-mail'
                 }) }}
				</div>

				<div class="col">
					{{ form_row(form.tel, {
                 label: 'Téléphone'
                 }) }}
				</div>
			</div>

			<div class="row">
				<div class="col">

					{{ form_row(form.plainPassword.first) }}
				</div>
				<div class="col">

					{{ form_row(form.plainPassword.second) }}
				</div>
			</div>

			<div class="row">
				<div class="col">

					{{ form_row(form.categorie, {
                 label: 'Catégorie',
                placeholder: "Select a value",
                 }) }}
				</div>
				<div class="col">

					{{ form_row(form.niveau, {
                placeholder: "Select a value",
                 }) }}

				</div>
				<div class="col">

					{{ form_row(form.loisir, {
                placeholder: "Select a value",
                 }) }}
				</div>
			</div>


		</div>

		<div class="row">
			<div class="col">

				{{ form_row(form.quartiers, {
                 label: 'Quartier',
                placeholder: "Select a value",
                 }) }}
			</div>
			<div class="col">

				{{ form_row(form.partenaires, {
                 label: 'Partenaire',
                placeholder: "Select a value",
                 }) }}
			</div>
		</div>


		<div class=" d-flex w-100 justify-content-between mx-auto my-4">
			<a href="{{ path('app_usager_index') }}" class="btn btn-danger">Retour</a>
			<button type="submit" class="btn btn-primary btn-block">S'inscrire</button>

		</div>

		{{ form_end(form) }}
	</div>
{% endblock %}
