{% extends 'base.html.twig' %}

{% block title %}Usager
{% endblock %}

{% block body %}
	<h1>Usager</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ usager.id }}</td>
			</tr>
			<tr>
				<th>Nom</th>
				<td>{{ usager.nom }}</td>
			</tr>
			<tr>
				<th>Prenom</th>
				<td>{{ usager.prenom }}</td>
			</tr>
			<tr>
				<th>Tel</th>
				<td>{{ usager.tel }}</td>
			</tr>
			<tr>
				<th>Email</th>
				<td>{{ usager.email }}</td>
			</tr>
			<tr>
				<th>Roles</th>
				<td>{{ usager.roles ? usager.roles|json_encode : '' }}</td>
			</tr>
			<tr>
				<th>Password</th>
				<td>{{ usager.password }}</td>
			</tr>
			<tr>
				<th>Categorie</th>
				<td>{{ usager.categorie }}</td>
			</tr>
			<tr>
				<th>Niveau</th>
				<td>{{ usager.niveau }}</td>
			</tr>
			<tr>
				<th>Loisir</th>
				<td>{{ usager.loisir }}</td>
			</tr>
			<tr>
				<th>Adresse</th>
				<td>{{ usager.adresse }}</td>
			</tr>
			<tr>
				<th>Ville</th>
				<td>{{ usager.ville }}</td>
			</tr>
			<tr>
				<th>Cp</th>
				<td>{{ usager.cp }}</td>
			</tr>
		</tbody>
	</table>
	<div class="row">
    <div class="col">
		<a class="btn btn-primary" href="{{ path('app_usager_index') }}">Retourné à la liste</a>
    </div>
    <div class="col">
		<a class="btn btn-info" href="{{ path('app_usager_edit', {'id': usager.id}) }}">Modifier</a>
    </div>
	
    <div class="col btn btn-sm btn-danger">
		{{ include('usager/_delete_form.html.twig') }}
    </div>
	</div>
{% endblock %}
