{% extends 'base.html.twig' %}

{% block title %}Cyber Base - Liste des Postes{% endblock %}

{% block body %}
    <h3 class="text-center fw-bold text-dark text-decoration-underline">LISTES DES POSTES</h3>

	<div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
		<a  href="{{ path('app_poste_new') }}" class="btn btn-primary">+ Poste</a>
	</div>

	<table class="table table-hover text-start text-center mb-3">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Type Poste</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for poste in postes %}
            <tr>
                <td>{{ poste.id }}</td>
                <td>{{ poste.libelle }}</td>
                <td>{{ poste.typePoste }}</td>
              <td>
                    <a class="btn btn-outline-secondary" href="{{ path('app_poste_show', {'id': poste.id}) }}">
                    <i class="fa-regular fa-eye"></i></a>
                    
                    <a class="btn btn-outline-secondary" href="{{ path('app_poste_edit', {'id': poste.id}) }}">
                    <i class="fa-regular fa-pen-to-square"></i></a>

                    <a class="btn btn-outline-secondary" href="{{ path('app_poste_delete', {'id': poste.id}) }}">
                    <i class="fa-regular fa-trash-can"></i></a>
                </td>
            </tr>
        {% else %}
            
				<div class="alert alert-danger" role="alert">
                Aucun enregistrement trouvé!
				</div>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
