<div class="p-3 mb-2 bg-body border rounded mx-auto w-50">

	{{ form_start(form) }}
	<div class="col">
		{{ form_row(form.genre, {
		  label: 'Sexe'
		  }) }}
	</div>
	<div class="row">
		<div class="col">
			{{ form_row(form.nom, {
                  label: 'Nom',
				 
                  }) }}
		</div>

		<div class="col">
			{{ form_row(form.prenom, {
                  label: 'Prénom'
                }) }}
		</div>
	</div>
	<div class="row">
		<div class="col">
			{{ form_row(form.email, {
                label: 'E-mail'
                 }) }}
		</div>

		<div class="col">
			{{ form_row(form.tel, {
                 label: 'N° Téléphone'
                 }) }}
		</div>
	</div>

	<div class="row">
		<div class="col">

			{{ form_row(form.plainPassword.first) }}
		</div>
		<div class="col">

			{{ form_row(form.plainPassword.second) }}
		</div>
	</div>
	{{ form_row(form.roles, {
            label: 'Rôle'
        }) }}

	<div class="d-grid gap-2 d-md-flex justify-content-md-end">
		<a href="{{ path('app_animateur_index') }}" class="btn btn-secondary">Retour</a>
		<button class="btn btn-primary">{{ button_label|default('Ajouter') }}</button>

	</div>
	<hr class="text-primary">

	{{ form_end(form) }}
</div>
