{% extends 'base.html.twig' %}

{% block title %}Animateur index{% endblock %}

{% block body %}
    <h1>Animateur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Tel</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Password</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for animateur in animateurs %}
            <tr>
                <td>{{ animateur.id }}</td>
                <td>{{ animateur.nom }}</td>
                <td>{{ animateur.prenom }}</td>
                <td>{{ animateur.tel }}</td>
                <td>{{ animateur.email }}</td>
                <td>{{ animateur.roles ? animateur.roles|json_encode : '' }}</td>
                <td>{{ animateur.password }}</td>
                <td>
                    <a href="{{ path('app_animateur_show', {'id': animateur.id}) }}">show</a>
                    <a href="{{ path('app_animateur_edit', {'id': animateur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_animateur_new') }}">Create new</a>
{% endblock %}
