{% extends 'base.html.twig' %}

{% block title %}Cyber Base - Accueil
{% endblock %}

{% block body %}


	<h3 class="text-center fw-bold text-dark" style="text-decoration: underline;">Mon Profile</h3>

</div>
<div class="container profile">
	<div class="avatar-flip">

		{% if app.user.genre == 'Femme' %}

			<img src="{{ asset('img/femme1.jpg') }}" height="150" width="150">
			<img src="{{ asset('img/femme.jpg') }}" height="150" width="150">


		{% else %}
			<img src="{{ asset('img/homme2.jpg') }}" height="150" width="150">
			<img src="{{ asset('img/homme.jpg')}}" height="150" width="150">


		{% endif %}
	</div>
	<div class="profile_pr">
		<h2>{{ app.user.nom }}
			{{ app.user.prenom }}</h2>
		<h4>{{ app.user.email }}</h4>
		{% if app.user.genre == 'Femme' %}
			<p>ANIMATRICE</p>
		{% else %}
			<p>ANIMATEUR</p>
		{% endif %}
		<a href="{{ path('app_animateur_edit', {'id':app.user.id}) }}"><input class="btn btn-primary" type="submit" value="Modifier le profile"></a>


	</div>
</div>


<div class="row row-cols-1 row-cols-md-4 g-4 mt-4 mx-0"></div></div>{% endblock %}
