{% extends 'base.html.twig' %}

{% block title %}Animateur
{% endblock %}

{% block body %}
	<h3 class="text-center  p-2 w-50 mx-auto">Animateur</h3>


	<table class="table shadow bg-opacity-10 mx-auto w-75">

		<tbody>
			<tr class="table-dark">
				<th>ID</th>
				<td>{{ animateur.id }}</td>
			</tr>
			<tr class="table-light">
				<th>Nom</th>
				<td>{{ animateur.nom }}</td>
			</tr>
			<tr class="table-secondary">
				<th>Prénom</th>
				<td>{{ animateur.prenom }}</td>
			</tr>
			<tr class="table-warning">
				<th>Téléphone</th>
				<td>{{ animateur.tel }}</td>
			</tr>
			<tr class="table-light">
				<th>E-mail</th>
				<td>{{ animateur.email }}</td>
			</tr>
			<tr class="table-secondary">
				<th>Rôle</th>
				<td>{{ animateur.roles ? animateur.roles|json_encode : '' }}</td>
			</tr>
			{# <tr>
							<th>Password</th>
							<td>{{ animateur.password }}</td>
						</tr> #}
		</tbody>

	</table>


	<div class="d-grid gap-2 d-md-flex justify-content-md-center">
		<a href="{{ path('app_animateur_index') }}" class="btn btn-secondary">Retour </a>

		<a href="{{ path('app_animateur_edit', {'id': animateur.id}) }}" class="btn btn-success">Modifier</a>

		{{ include('animateur/_delete_form.html.twig') }}
	</div>


{% endblock %}
