{% extends 'base.html.twig' %}

{% block title %}Cyber Base - Liste Partenaires
{% endblock %}

{% block body %}
	<h3 class="text-center fw-bold text-dark text-decoration-underline">Partenaire</h3>

	<div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
		<a class="btn btn-primary" href="{{ path('app_partenaire_new') }}">+Partenaire</a>
	</div>

	<table class="table table-hover text-start text-center mb-3">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nom Etablissement</th>
				<th>Type Etablissement</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for partenaire in partenaires %}
				<tr>
					<td>{{ partenaire.id }}</td>
					<td>{{ partenaire.nomEtablissement }}</td>
					<td>{{ partenaire.typeEtablissement }}</td>
					<td>
						<a class="btn btn-outline-secondary" href="{{ path('app_partenaire_show', {'id': partenaire.id}) }}">
							<i class="fa-regular fa-eye"></i>
						</a>

						<a class="btn btn-outline-secondary" href="{{ path('app_partenaire_edit', {'id': partenaire.id}) }}">
							<i class="fa-regular fa-pen-to-square"></i>
						</a>

						<a class="btn btn-outline-secondary" href="{{ path('app_partenaire_delete', {'id': partenaire.id}) }}">
							<i class="fa-regular fa-trash-can"></i>
						</a>
					</td>
				</tr>
			{% else %}

				<div class="alert alert-danger" role="alert">
					Aucun enregistrement trouvé!
				</div>
			{% endfor %}
		</tbody>
	</table>


{% endblock %}
