{% extends 'base.html.twig' %}

{% block title %}Partenaire{% endblock %}

{% block body %}
    <h1 class="text-center  p-2 w-50 mx-auto">Partenaire</h1>

    <table class="table shadow bg-opacity-10 mx-auto w-75">
        <tbody >
            <tr class="table-secondary">
                <th >Id</th>
                <td>{{ partenaire.id }}</td>
            </tr>
            <tr class="table-light">
                <th>NomEtablissement</th>
                <td>{{ partenaire.nomEtablissement }}</td>
            </tr>
            <tr class="table-secondary">
                <th>TypeEtablissement</th>
                <td>{{ partenaire.typeEtablissement }}</td>
            </tr>
        </tbody>
    </table>
<div class="d-grid gap-2 d-md-flex justify-content-md-center">
    <a class="btn btn-secondary" href="{{ path('app_partenaire_index') }}">Retour </a>

    <a class="btn btn-success" href="{{ path('app_partenaire_edit', {'id': partenaire.id}) }}">Modifier</a>

  
    {{ include('partenaire/_delete_form.html.twig') }}
</div>
{% endblock %}
