{% extends 'base.html.twig' %}

{% block title %}
	Cyber Base - Planning
{% endblock %}

{% block body %}

	<h3 class="text-center fw-bold text-dark" style="text-decoration: underline;">PLANNING</h3>

	<div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
		<a class="btn btn-primary" href="{{ path('app_planning_new') }}">+ Planning</a>
	</div>

	<table class="table table-hover text-start text-center mb-3">
		<thead>
			<tr>
				<th>Réf</th>
				<th>Atelier</th>
				<th>Animateur</th>
				<th>Usager</th>
				<th>Poste</th>
				<th>Date</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for planning in plannings %}
				<tr>
					<td>CB-00{{ planning.id }}</td>
					<td>{{ planning.ateliers }}</td>
					<td></td>
					<td>{{ planning.usagers }}</td>
					<td>{{ planning.postes }}</td>
					<td>{{ planning.date ? planning.date|date('d-m-Y') : '' }}</td>
					<td>
						<a class="btn btn-outline-secondary" href="{{ path('app_planning_show', {'id': planning.id}) }}">
							<i class="fa-regular fa-eye"></i>
						</a>

						<a class="btn btn-outline-secondary" href="{{ path('app_planning_edit', {'id': planning.id}) }}">
							<i class="fa-regular fa-pen-to-square"></i>
						</a>

						<a class="btn btn-outline-secondary" href="{{ path('app_planning_delete', {'id': planning.id}) }}">
							<i class="fa-regular fa-trash-can"></i>
						</a>
					</td>
				</tr>
			{% else %}

				<div class="alert alert-danger" role="alert">
					no records found!
				</div>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
