{% extends 'base.html.twig' %}

{% block title %}
	Cyber Base - Planning
{% endblock %}

{% block body %}

	<h3 class="text-center fw-bold text-dark text-decoration-underline">PLANNING</h3>



	<table>
		{# <tr>
				                {% for key in counts %}
				                    <td>{{key|e }}</td>
				                {% endfor %}
				            </tr> #}

		{# {% for count in counts %}
			<tr>
				{% for cell in count %}
					<td>{{ cell }}</td>
					
				{% endfor %}
			</tr>
		{% endfor %} #}

	</table>


	<table class="table table-hover table-striped text-start text-center mb-3">
						
							
		<thead>
			<tr>
				<th>Réf</th>
				<th>Atelier</th>
				<th>Animateur</th>

				<th>Usagers inscrit</th>
				<th>Date Création</th>

				<th>actions</th>
			</tr>
		</thead>
		<tbody>

{# {{ dump(counts) }} #}
				 {% set i = 0  %}
			{% for planning in ateliers %}
				{# {% for planning in counts %} #}

				<tr>

					<td>CB-00{{ planning.id}}</td>
					<td>{{ planning.ateliers }}</td>
					<td>{{ planning.ateliers.animateurs }}</td>

					<td>

						{{ counts[i][1]}}
						 {% set i = i + 1 %}
					</td>
					<td>{{ planning.date ? planning.date|date('d-m-Y') : '' }}</td>




						
					<td>
						{# <a class="btn btn-outline-secondary" href="{{ path('app_planning_show', {'id': planning.id}) }}">
																										<i class="fa-regular fa-eye"></i>
																									</a> #}
						<a class="btn btn-sm btn-outline-secondary" href="{{ path('app_planning_show', {'id': planning.ateliers.id }) }}">
							<i class="fa-regular fa-eye"></i>
							Liste Usagers
						</a>
						<a class="btn btn-sm btn-outline-secondary" href="{{ path('app_planning_edit', {'id': planning.id}) }}">
							<i class="fa-regular fa-pen-to-square"></i>
							Editer Planning
						</a>
						{# <a class="btn btn-outline-secondary" href="{{ path('app_planning_delete', {'id': planning.id}) }}">
																										<i class="fa-regular fa-trash-can"></i>
																									</a> #}
					</td>
				</tr>

			{% else %}

				<div class="alert alert-danger" role="alert">
				Aucun enregistrement trouvé!
				</div>
		
		{% endfor %}

		</tbody>
	</table>

{% endblock %}
