{% extends 'base.html.twig' %}

{% block title %}Planning{% endblock %}

{% block body %}
    <h1>Planning</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ planning.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ planning.date ? planning.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_planning_index') }}">Retour à la liste</a>

    <a href="{{ path('app_planning_edit', {'id': planning.id}) }}">Modifier</a>

    {{ include('planning/_delete_form.html.twig') }}
{% endblock %}
