<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Cyber Base{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
      {# debut navbar #}
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">CYBER BASE</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{{ path('app_atelier_index') }}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{{ path('app_planning_index') }}">Planning</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"  aria-current="page" href="{{ path('app_usager_index') }}">Usagers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"  aria-current="page" href="{{ path('app_quartier_index') }}">Quartiers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"  aria-current="page" href="{{ path('app_partenaire_index') }}">Partenaires</a>
                        </li>
                        {% if is_granted ("ROLE_ADMIN") %}
                        <li class="nav-item">
                            <a class="nav-link"  aria-current="page" href="{{ path('app_animateur_index') }}">Animateurs</a>
                        </li>
                        <li class="nav-item">
                              {# <a class="btn btn-danger ml-3" href="{{ path('app_logout') }}">Déconnexion</a> #}
                        </li>
                                {% else %}
                        <li class="nav-item">
                              {# <a class="btn btn-light fw-bold" href="{{ path('app_login') }}">Connectez-vous</a> #}
                        </li>
                        {% endif %}

                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        {# fin navbar #}
		</nav>
    <div class="container">
        <div class="py-4 mt-4">
            <main>
            {% block body %}
            {% endblock %}
            </main>
        </div>
        <footer class="my-5 pt-5 text-muted text-center text-small">
			<p class="mb-1">© 2017–2020 Company Name</p>
			<ul class="list-inline">
				<li class="list-inline-item">
					<a href="#">Privacy</a>
				</li>
				<li class="list-inline-item">
					<a href="#">Terms</a>
				</li>
				<li class="list-inline-item">
					<a href="#">Support</a>
				</li>
			</ul>
		</footer>
	</div>
    </body>
</html>
