{% extends 'base.html.twig' %}

{% block title %}Cyber base - Liste Quartiers
{% endblock %}

{% block body %}
	<h3 class="text-center fw-bold text-dark text-decoration-underline">LISTE DES QUARTIERS</h3>

	<div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
		<a class="btn btn-primary" a href="{{ path('app_quartier_new') }}">+ Quartier</a>
	</div>

	<table class="table table-hover text-start text-center mb-3">
		<thead>
			<tr>
				<th>Id</th>
				<th>NomQuartier</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for quartier in quartiers %}
				<tr>
					<td>{{ quartier.id }}</td>
					<td>{{ quartier.nomQuartier }}</td>

					{% if is_granted('ROLE_SUPER_ANIMATEUR') %}
					<td>
						<a class="btn btn-outline-secondary" href="{{ path('app_quartier_show', {'id': quartier.id}) }}">
							<i class="fa-regular fa-eye"></i>
						</a>

						<a class="btn btn-outline-secondary" href="{{ path('app_quartier_edit', {'id': quartier.id}) }}">
							<i class="fa-regular fa-pen-to-square"></i>
						</a>

						<a class="btn btn-outline-secondary" href="{{ path('app_quartier_delete', {'id': quartier.id}) }}">
							<i class="fa-regular fa-trash-can"></i>
						</a>
					</td>
					{% else %}
					<td class="text-danger"> Access Denied</td>
					{% endif %}
				</tr>
			{% else %}

				<div class="alert alert-danger" role="alert">
				Aucun enregistrement trouvé!
				</div>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
